#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#navigation ul li {
    float: right;
}

#navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px; /* Increase this value to adjust the font size */
}

#navigation ul li a:hover {
    background-color: #f71919;
    color: rgb(0, 0, 0);
}
#footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
body {
    background-image: url('../1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}